* {
  user-select: none;
}

body{
  background-color: #020024;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 600px;
  padding-inline: 50px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
}

.list-group-item:hover {
  background-color: #cccccc80;
}

img {
  cursor: pointer;
  /* transition: all 0.5s; */
}

/* img:hover {
  transform: scale(1.2);
} */


.modal-todo {
  position: fixed;
  max-width: 500px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
h1{
  margin-top: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(3px);
  z-index: 50;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn{
  padding: 8px 16px;
  border: none;
  background-color: #101e9b;
  color: #e89b30;
  font-size: 30px;
  border-radius: 10px;
  transition: all 0.4s linear;
}
.btn:hover{
  color: #ccccb5;
  background: #1167b8;
}
.list-group{
  margin-bottom: 50px;
}

.todos_li{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  justify-content: start;
}
.posts_tit{
  display: flex;
  gap: 10px;
  /* text-align: center; */
}

.posts_li{
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.photos_li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.users_li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.photos_container {
  width: 100%;
  max-width: 600px;
  padding-inline: 50px;
}

.loader{
  display: flex;
  justify-content: center;
}
.error{
  margin-top: 100px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 100px;
}
.hidden {
  display: none;
  }
  
.disabled{
  opacity: 0.9;
}